@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Begin DRAMA */
table[epub|type~="z3998:drama"]{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	padding: .5em;
	vertical-align: top;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}
/* end drama */

/* All EPIGRAPHS */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] em,
[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}

[epub|type~="epigraph"] [epub|type~="z3998:persona"]{
	font-style: normal;
	font-variant: all-small-caps;
}

header [epub|type~="epigraph"] cite{
	font-variant: small-caps;
}
/* End all epigraphs */

/* Epigraphs in section headers */
section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

section > header [epub|type~="epigraph"] + *{
	margin-top: 3em;
}

@supports(display: table){
	section > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */

/* Begin FIGURE rules */
figure{
	break-inside: avoid;
	margin: 1em 40px;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: smaller;
	font-style: italic;
	margin: 1em;
}
/* end figures */

/* Begin LETTER styles */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

header > [epub|type~="z3998:recipient"]{
	text-align: initial;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
/* end letters */

/* Begin VERSE styles */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}

p span.i5{
	padding-left: 6em;
	text-indent: -1em;
}

p span.i7{
	padding-left: 8em;
	text-indent: -1em;
}
/* end verse */

/* BESPOKE rules begin */
#chapter-10 > blockquote:first-of-type p,
#chapter-12 > blockquote p{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

#chapter-10 > blockquote:first-of-type p:first-of-type,
#chapter-12 > blockquote p:first-of-type{
	font-size: larger;
	text-transform: uppercase;
}

#chapter-10 > blockquote:first-of-type p ~ p::before,
#chapter-12 > blockquote p ~ p::before{
	border-top: 1px solid;
	content: "";
	display: block;
	height: 0;
	margin: 1.5em auto;
	width: 25%;
}

#chapter-22 blockquote:last-of-type p:nth-child(4){
	border-top: 1px solid;
	text-indent: 0;
}

#chapter-22 ol{
	list-style-type: upper-roman;
}

/* bespoke rules end */

.telegram{
	font-variant: all-small-caps;
}
